*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    background-color: white;
    color: black;
    text-rendering: optimizeLegibility;  
    font-size: 18px;
    font-family:'Open Sans Condensed', sans-serif;
    font-weight: 300px;
}
/***clear fix***/
.clearfix{
    zoom: 1;
}

.clearfix:after{
    content: "";
    display: table;
    clear: both;
    visibility: hidden;
}

.row{
    max-width: 1140px;
    margin:0 auto;
}
.main-nav{
    list-style: none;
    float:right;
    margin-top: 20px;

}
/****header****/
header{
    background-image: linear-gradient(rgba(0,0,0,.3),rgb(0,0,0,.7)),url(img/headerimg6.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;

}
.header-box{
    position: absolute;
    top:50%;
    left: 50%;
    transform:translate(-50%,-50%);
    text-align: center;
    
}
.header-box-text{
    margin-bottom: 60px;
}

.header-box-text h1{
    font-size:500%;
    color: white;
    font-weight:400; 
    margin-bottom: 10px; 
    
}
.header-box-text h2{
    font-size:200%;
    color: #D2D4D3;
    font-weight:400;
}

.btn:link,.btn:visited, input[type=submit]
{
    text-decoration: none;
    padding: 10px 50px;
    border-radius: 200px;
}
.btn:hover,.btn:active
{
    background-color: #5f6255;
}
.btnfull{
    background-color: #424635;
    color: white;
    font-weight: 200px;
    font-size: 18px;
}
.btn-ghost:link,
.btn-ghost:visited{
    border: 2px solid #424635;
    color: black; 
}
.btn-ghost:hover,
.btn-ghost:active{
    background-color: #424635;
    color: white;
}
.main-nav li{
    display: inline-block;

}
.main-nav li a:link,.main-nav li a:visited{
    text-decoration: none;
    font-size: 110%;
    color: white;
    margin-right: 45px;
    text-transform: uppercase;
    font-weight: 500;
    transition: border-bottom 0.2s;
}
.main-nav li a:hover,.main-nav li a:active{
    border-bottom: 2px solid #FAE0E4;
    
}
.logo{
    height: 120px;
    width: auto;
    float:left;
}
/******about section****/
.laptop{
    width: 90%;
    border-radius: 20px;
}
    /*opacity: 0.6;

}
.background{
    background-color: black;
}*/

.about-header{
    font-size:200%;
    font-weight: 520;
    margin-bottom: 40px;
    color: #424635;
    
}
.about-para{
    margin-bottom: 30px;
    font-size: 120%;
    font-weight: 300;

}
.about{
    margin-top: 100px;
    padding-bottom: 40px;
}

.about-box:first-child{
    text-align: left;
    padding: 0 5%;
    text-align: justify;
}
.about-box:last-child{
    text-align: right;
}
/****work-section*****/
.work{
    
    background-color: #f4f4f4;
    margin-bottom: 55px;
}
.work-header{
    text-align: center;
    font-size:200%;
    font-weight: 520;
    margin-bottom: 25px;
    margin-top: 100px;
    color: #424635;  

}
.work-subheader{
    font-size:150%;
    font-weight: 500;
    margin-bottom: 30px;
    color: #5f6255; 
    text-align: center;
}

.work-subheader:after{
    display: block;
    height: 2px;
    width: 100px;
    background-color:#FAE0E4;
    content:" ";
    margin: 30px auto 0 auto;
}

.work-portfolio{
    margin-top: 20px;
    list-style: none;
    width: 100%;
}
.work-portfolio li{
    display: block;
    width: 25%;
    float: left;
   
}
.portfolio-image{
    background: black;
    overflow: hidden;
    
}

.portfolio-image img{
    width: 100%;
    opacity: 0.7;
    height: auto;
    transform:scale(1.20);
    transition :transform 0.5s, opacity 0.5s;
}

.portfolio-image img:hover{
    transform: scale(1);
    opacity: 1;

}
.work-para{
    color: white;
    text-align: center;
    font-size: 110%;
    font-weight: 500px;
   
}

/***social media***/
.social-media{
    text-align: center;
    background:#f4f4f4 ;
}
.iconimg{
    width: 20%;
    height: auto;
    margin-bottom: 10px;
   
}
.gitimg{
    
    width: 25%;
    height: auto;
    margin-bottom: 10px;
}
.social-header:link,.social-header:visited{
    font-size:100%;
    font-weight: 500;
    margin-bottom: 50px;
    color: #5f6255; 
    text-decoration: none;          

}
.social-header:hover,.social-header:active{
    border-bottom: 2px solid #FAE0E4 ;
    transition: border-bottom 0.2s;
}


.mediabtn{
   margin-top: 10px;
}

/**educational*/

.educationsection{
    background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.8)), url(img/edu4.jpg);
    text-align: center;
    background-size:cover;
    height: 80vh;
    background-attachment: fixed;
   

}
.education-header{
    font-size: 300%;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 100px;
    color: white;
   
    

}
.edu li{
    display: inline-block;
    margin-top: 120px;
}
.edu li a:link,.edu li a:visited{
    color: white;
    font-weight: 100;
    font-size: 170%;
    list-style: none;
    text-align: center;
    text-decoration: none;
    margin-right: 45px;
}

.edu li a:hover,.edu li a:active{
    border-bottom: 2px solid #f8c6cd ;
    transition: border-bottom 0.2s;
}

/***** contact section***/

.contact-section{
    text-align: center;
}
.contact-heading{
    margin-bottom: 50px;
    text-align: center;
    font-size:200%;
    font-weight: 520;
    margin-top: 70px;
    color: #424635; 
}
.contact-form{
    text-align: left;
    width: 60%;
    margin: 0 auto;
    
}

input[type=text],
input[type=email],
textarea{
    width: 100%;
    padding: 7px;
    border-radius: 4px;
    border: 1px solid #ccc;
   
}
textarea{
    height: 100px;
}

input:focus,textarea:focus{
    border: 1px solid #424635;
    outline: none;
}
/****** FOOTER*****/
footer{
    margin-top: 20px;
    background-color: #5f6255;
    padding: 50px;
    color: white;
}

.footer-nav{
    float: left;
}

.footer-nav li{
    list-style: none;
    display: inline-block;
    margin-right: 50px;
}

.footer-nav li a:link,
.footer-nav li a:visited{
    text-decoration: none;
    color: #a6ac95;
}

.footer-nav li a:hover,
.footer-nav li a:active{
    color: white;
    text-decoration: none;
    transition: color 0.2s;
    
}

.social-links{
    float: right;
}

.social-links li{
    list-style: none;
    display: inline-block;
    margin-left: 50px;
}

.social-links li a:link,
.social-links li a:visited{
    text-decoration: none;
    color: #a6ac95;
}

.social-links li a:hover,
.social-links li a:active{
    color: white;
    text-decoration: none;
    transition: color 0.2s;
}

footer p{
    color: #a6ac95;
    margin-top: 40px;
    text-align: center;

}

.font{
    font-family:'Open Sans Condensed';
}

/***.color{
    background-color: #5f6255;
}

.color2{
    background-color: #f8c6cd;
}
.color1{
    background-color: aquamarine;
}****/
